@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,5ee,600,700,8ee,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    scroll-behavior: smooth;
}


body
{
    background: #1c0522;
}

/********************************************header******************************************/
.MainHeader
{
    width: 100%;
    position: absolute;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.MainHeader .logo
{
    color: #fff;
    font-weight: 500;
    font-size: 3.5em;
    text-decoration: none;
    font-family: 'Cookie', cursive;
    letter-spacing: 2px;
}

.MainHeader nav a 
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

.MainHeader nav a:hover,
.MainHeader nav a.active
{
    color: #ab77ff;
}

.MainHeader .icon 
{
    display: none;
}

section
{
    padding: 100px 200px;
}

/********************************************main******************************************/
.Main
{
 position: relative;
 width: 100%;
 height: 100vh;
 display: flex;
 align-items: center;
 overflow: hidden;
 justify-content: center;
}

.Main::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background:linear-gradient(to top, #1c0522,transparent);
    z-index: 100;
    
}

.Main img
{
position: absolute;
top: 0;
Left: 0;
width: 100%;
height: 100%;
object-fit:cover;
pointer-events: none;
}

.Main img#moon
{ 
    mix-blend-mode: screen;
}

.Main img#mountains_front
{ 
   z-index: 10;
}

#main_text
{
  position:absolute;
  color: #fff;
  white-space: nowrap;
  font-size: 1.5em;
  z-index: 9;
  letter-spacing: 2px;
  text-align:center;
  margin-top: -150px;
  margin-left: 60px;
  margin-bottom: 70px;
  animation: text 1.5s 1;
}

#Mainspan
{
  position:absolute;
  color: #ab77ff;
  white-space: nowrap;
  font-size: 2.5em;
  font-weight: 600;
  z-index: 9;
  letter-spacing: 2px;
  text-align:center;
  margin-top: -145px;
  margin-left: 60px;
  animation: fadeIn 4s 1;
}

@keyframes text 
{

    0%
    {
        color: #1c0522;
        margin-bottom: -30px;
    }

    30%
    {
    letter-spacing: 25px;
    margin-bottom: -30px;
    }
    85%
    {
        letter-spacing: 2px;
        margin-bottom: -30px;
    }
    
}

@keyframes fadeIn 
{

   0%
    {
       opacity: 0;
    }

   25%
    {
        opacity: 0;
    }
    40%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
    
}

#main_btn
{
 text-decoration: none;
 display: inline-block;
 padding: 0.6375em 1.1875em;
 border-radius: 40px;
 background: #fff;
 color: #2b1055;
 font-size: 1em;
 font-weight: 700;
 z-index: 9;
 margin-top: -30px;
 margin-left: 60px;
 transition: 0.7s ease;
 animation: apper 4s 1;
}

#main_btn:hover
{
    background-color: #ab77ff;
    transform: scale(1.1);
}

@keyframes apper 
{

   0%
    {
       opacity: 0;
    }

   25%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
    
}



/********************************************About******************************************/
#About
{
    position: relative;
    padding: 100px;
    background: #1c0522;
}

#About h2
{
   font-size: 3.5em;
   margin-bottom: 10px;
   color: #fff;
   margin-bottom: 30px;
   text-align: center;
}

#AboutDiv
{
    display: flex;
    flex-direction: row;
}


#About img#Me
{
   width: 300px;
   border: 5px solid #ccacff;
   border-radius: 15rem;
   justify-self: center;
   align-self: center;
}

#About p
{
   font-size: 1em;
   color: #fff;
   display: inline-block;
   text-align: left;
   justify-content: center;
   align-self: center;
   margin-left: 50px;
}


/********************************************Projects******************************************/
#Projects
{
    padding: 100px;
    background: #1c0522;
}

#Projects h2
{
   font-size: 3.5em;
   margin-bottom: 10px; 
   color: #fff;
   margin-bottom: 30px;
   text-align: center;
}

.ProjectsDiv
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.ProjectsCard
{
    background-color: #ccacff;
    border: 1px solid #ccacff;
    min-height: 14em;
    width: 21em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.ProjectsCard:hover 
{
    transform: scale(1.1);
}

.ProjectsCard:hover .ProjectImg
{
   opacity: 0.9;
}

.ProjectImg img

{
    width: 100%;
}

.ProjectInfo
{
    padding: 1em;
}

.ProjectCategory
{
    font-size: 0.8em;
    color: #1c0522;
}

.ProjectTitle
{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
}

.MoreDetails
{
    text-decoration: none;
    color: #1c0522;
}

.MoreDetails:hover
{
 color: #57368b;   
}



/********************************************Contant******************************************/
#Contact
{
    padding: 100px;
    background: #1c0522;
}

#Contact h2
{
   font-size: 3.5em;
   margin-bottom: 10px; 
   color: #fff;
   margin-bottom: 30px;
   text-align: center;
}

.ContactDiv
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.ContantCard
{
    background-color: #ccacff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(232, 175, 255, 0.15);
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    transition: 0.7s ease;
}

.ContantCard:hover 
{
    transform: scale(1.1);
}

.icon
{
    color: #1c0522;
    font-size: 6em;
    text-align: center;

}

.ContantInfo
{
  text-align: center;
}

.ContantInfo h3
{
    font-size: 1.8em;
}

.ContantInfo p
{
    font-size: 1em;
}

/********************************************Footer******************************************/
.footer
{
    background-color: #0f0014;
    color: #ccacff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title
{
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span
{
    color: #57368b;
}

.social-icons
{
    font-size: 1.7em;
    padding: 0 20px 0 0;
   
}

.social-icons a
{
    padding-right: 10px;
    color: #ccacff;
}

.social-icons a:hover
{
    color: #ab77ff;
}




/********************************************media******************************************/
@media (max-width:625px)
{

    .MainHeader
    {
        padding: 12px 20px;
    }
    
    .MainHeader .logo
    {
        font-weight: 100;
        font-size: 2.2em;
        letter-spacing: 2px;
        padding-right: 50px;
    }
    
    .MainHeader nav a 
    {
        padding-left: 130px;
    }
    
    section
    {
        padding: 80px 20px;
    }

    #main_text
    {
      font-size: 1em;
      margin-left: 35px;
    }
    
    #Mainspan
    {
      font-size: 1.5em;
      margin-left: 30px;
    }

    #main_btn
    {
     padding: 0.6375em 1.1875em;
     font-size: 0.8em;
     margin-left: 35px;
    }

    #About h2
    {
       font-size: 2.5em;
       text-align: center;
    }

    #AboutDiv
    {
        flex-direction: column;
        align-items: center;
    }

    #About img#Me
    {
       width: 200px;
       margin-bottom: 20px;
    }
    
    #About p
    {
       font-size: 1em;
       text-align: center;
       margin-left: 5px;
    }

    #Projects
    {
        padding: 40px;
    }
    
    #Projects h2
    {
       font-size: 2.5em; 
    }
    
    .ProjectInfo
    {
        padding: 0.5em;
    }
    
    .ProjectCategory
    {
        font-size: 0.8em;
        color: #1c0522;
    }
    
    .ProjectTitle
    {
        font-weight: 600;
    }

    #Contact
    {
        padding: 40px;
    }
    
    #Contact h2
    {
       font-size: 2.5em;
    }
    
    .ContantInfo h3
    {
        font-size: 1.5em;
    }
    
    .ContantInfo p
    {
        font-size: 1em;
    }

}

@media (min-width:625px) and (max-width:1023px)
{
    .MainHeader .logo
    {
       font-weight: 500;
       font-size: 3.5em;
    }
    
    .MainHeader nav a 
    {
        padding: 3px 5px;
        font-size: 1.2em;
    }

    #main_text
    {
      font-size: 2em;
      margin-top: -190px;
      margin-left: 60px;
      margin-bottom: 70px;
    }
    
    #Mainspan
    {
      font-size: 3em;
    }

    #main_btn
    {
     padding: 0.6375em 1.1875em;
     font-size: 1.5em;
     margin-top: -1px;
    }

}